/* critical:start */

@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/reboot';

/* critical:end */

//@import 'generic.fonts';
//@import 'bootstrap/scss/print';
//@import 'bootstrap/scss/root';
//@import 'bootstrap/scss/transitions';
//@import 'bootstrap/scss/type';
