@font-face {
    font-family: 'courier_primeregular';
    src: url('../fonts/courier_prime-webfont.woff2') format('woff2'),
         url('../fonts/courier_prime-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
