<nav class="c-header__nav navbar navbar-expand-lg navbar-light">
      <a class="c-header__nav__logo navbar-brand" href="/">
        <svg width="262px" height="95px" version="1.1" viewBox="0 0 262 95" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><g transform="translate(-150 -48)" fill="#E73F39"><g transform="translate(150 48)"><path d="m243.3 21.015c1.4225-1.0563 2.9742-2.1126 4.1381-3.4506 0.9052-1.0563 1.5518-2.3943 1.3578-3.6618-0.4526-2.6759-3.6855-3.3097-6.595-2.6759-1.8104 0.42252-3.6208 1.2676-4.9786 2.5351-0.58192 0.49294-1.0992 1.1267-1.3578 1.7605-0.25863 0.84504 0.38794 1.4084 1.4225 1.1267 0.77589-0.21126 1.4225-0.7042 2.0044-1.1971 0.71123-0.7042 1.3578-1.4788 2.457-1.6901 0.71123-0.14084 1.3578 0.07042 1.3578 0.77462 0 0.56336-0.51726 1.1267-1.0345 1.5492-0.4526 0.3521-0.84054 0.7042-1.2931 0.98588-1.5518 1.1971-3.0389 2.3943-4.2027 3.8731-0.51726 0.7042-0.96986 1.4788-1.2285 2.2534-0.32329 0.91546-0.4526 1.8309-0.25863 2.6759 0.25863 1.1971 1.2931 2.0422 2.7156 2.1126 2.6509 0.07042 5.3665-0.14084 8.1468-0.56336 1.4225-0.28168 2.9096-1.1267 3.0389-2.5351 0.12932-1.4788-1.4225-1.9718-2.9096-1.7605-2.0044 0.28168-4.0087 0.49294-6.0131 0.7042 0.77589-1.0563 2.069-1.9013 3.2329-2.8168zm-35.263 27.985c-4.5158 0-26.821 22-3.7631 22 18.884 0 7.9368-22 3.7631-22zm-154.25-1c-5.1207 0-32.268 22-4.4193 22 22.096 0 9.54-22 4.4193-22zm47.628-19.448c3.3358 4.3366 5.2817 9.023 7.6445 13.919 1.1119-0.69946 2.5713-13.01 2.9188-14.968 1.0424-6.0853 4.7952-22.453 12.787-22.453 4.2392 0 7.0886 4.2667 8.4785 7.8339 1.9459 4.8962 3.1273 9.7224 4.0308 14.898 0.48647 2.7978 1.3899 8.953 2.0849 11.471 5.9766-2.7978 17.443-9.1629 17.652-9.2328 3.8223-2.0984 11.884 0.55956 7.7835 7.8339-3.1968 5.7355-17.165 18.815-17.165 20.284 0 0.90929 12.162 7.8339 13.899 8.1836 0.27798-0.48962 0.69496-0.97924 0.83395-1.4689 1.5289-3.917 2.1544-7.6241 4.1697-11.401 7.0886-13.639 24.532-30.077 40.864-29.587 5.0037 0.13989 9.7989 1.4689 14.038 3.7071-0.83395-2.8678-0.83395-5.9454 0.41698-9.1629 4.3782-11.401 20.779-16.857 31.134-12.45 7.3666 3.1476 10.98 10.142 7.9225 18.186-3.7528 9.8623-15.22 18.116-25.435 16.018 6.8106 9.9323 9.5209 22.872 5.4207 34.203-5.7682 16.227-27.798 20.634-42.948 20.634-4.4477 0-20.015-2.9377-20.432-2.8678-8.3395 0.7694-12.996 1.5388-21.474-0.69946l-15.22-5.9454c-1.5984-0.41967-3.5443 2.9377-4.5867 3.847-7.0191 6.435-17.999 3.3574-25.088-0.97924-8.0615 5.176-22.1 7.2044-30.161 0.7694-1.3899-1.1191-4.5867-5.8754-5.0732-6.0853-17.026 10.842-42.531 14.129-62.199 9.0929-3.0578-0.069946-9.7989-4.8262-11.05-7.6241-3.4053-7.6241-2.9883-14.968-1.8069-23.292 1.3204-9.0929 3.0578-18.186 4.5867-27.209 1.1814-6.8547 5.6987-29.307 14.316-29.307 10.841 0 11.467 21.893 14.872 23.222 2.9883-0.90929 8.8955-1.9585 11.953-1.9585 14.386 0 23.907 7.9738 33.011 17.976 0.27798 0.27978 0.62546 0.55956 0.97294 0.83935 0.76445-0.69946 6.0461-12.73 8.4785-16.018l-0.34748-0.97924c-15.359-7.694-4.7257-33.084 12.648-26.789 5.0732 1.8885 8.409 7.2044 8.409 12.52 0 9.1629-8.27 13.849-8.3395 15.038z"/></g></g></g></svg>
        <span class="c-header__nav__cities">Madrid - Pamplona - Lima</span>
      </a>

      <button class="navbar-toggler js-open" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="c-header__navbar navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{activeMenu('index',currentMenu)}}" href="#">Únete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{activeMenu('open',currentMenu)}}" href="https://www.biko2.com/openspace">Open Space</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{activeMenu('bikolabs',currentMenu)}}" href="https://www.biko2.com/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{activeMenu('contacto',currentMenu)}}" href="/contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>