.p-home__que {
  @include media-breakpoint-down(sm) {
    position: relative;
  }

  .p-home__que__container {
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      margin-bottom: 36px;

      .c-grid-image--right {
        order: 3;
      }
    }
  }

  .c-box {
    margin-bottom: 24px;

    @include media-breakpoint-only(xs) {
      margin-top: -36px;;
    }

    @include media-breakpoint-only(sm) {
      margin-top: -56px;;
    }

    @include media-breakpoint-up(md) {
      margin-top: 96px;
      margin-bottom: 96px;
    }

    @include media-breakpoint-only(lg) {
      margin-bottom: 150px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 96px;
    }
  }

  .c-icon-square {
    margin-bottom: 96px;

    @include media-breakpoint-down(sm) {
      width: 70px;
      height: 70px;
      margin-bottom: -30px;
      margin-left: 15px;

      svg {
        width: 55%;
      }
    }

    @include media-breakpoint-only(md) {
      margin-right: -23%;
    }
    @include media-breakpoint-only(lg) {
      margin-right: -20%;
    }
  }

  .c-grid-image--right img {
    @include media-breakpoint-only(xs) {
      margin-left: 10%;
    }
  }

  .c-title-section--que {
    margin-top: -25px;
  }

  .c-icon-list {
    @include media-breakpoint-up(lg) {
      margin-bottom: 74px;
    }
  }
}

.p-home__servicios {
  .c-grid-image--left {
    width: 40%;
    margin-top: 55px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .c-grid-image--right {
    width: 40%;
    margin-top: 250px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }


  .p-home__servicios__first-column {
    margin-left: 20px;

    @include media-breakpoint-up(sm) {
      margin-left: 0;
    }

    @include media-breakpoint-up(md) {
      padding-top: 50px;
      padding-bottom: 200px;
      background: white;
    }
  }

  .p-home__servicios__last-column{
    margin-top: 24px;
    margin-left: 20px;

    @include media-breakpoint-up(sm) {
      margin-left: 0;
    }

    @include media-breakpoint-up(md) {
      padding: 50px 40px 50px 70px;
      background: white;
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 50px 40px 50px 70px;
    }
  }

  .c-title--pre {
    @include media-breakpoint-only(xs) {
      margin-left: -20px;
    }
  }

  .h-big {
    font-weight: 700;

    & + p {
      width: 95%;
      margin-bottom: 32px;

      @include media-breakpoint-up(lg) {
        width: 90%;
        margin-bottom: 42px;
      }
    }
  }
}


.p-home__clientes {
  .c-button {
    margin-top: 40px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.p-home__insights {
  margin-bottom: 60px;
  position: relative;

  @include media-breakpoint-up(sm) {
    margin-bottom: 120px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 190px;
  }

  &:before {
    content: "";
    display: block;
    width: 32%;
    height: 220px;
    @extend .c-bg-pattern;
    position: absolute;
    z-index: 0;
    top: -90px;

    @include media-breakpoint-up(md) {
      width: 32%;
      height: 380px;
    }

    @include media-breakpoint-up(lg) {
      width: 30%;
    }

    @include media-breakpoint-up(xl) {
      height: 440px;
    }

    @include media-breakpoint-up(xxl) {
      width: 34%;
    }
  }

  .c-icon-square {
    margin-bottom: 24px;
  }

  .c-button {
    margin-top: 40px;
  }

  .h-extrahuge br {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
