<div class="eupopup eupopup-container eupopup-container-block">
  <div class="eupopup-markup">
    <div class="eupopup-head">Cookies cookies cookies</div>
    <div class="eupopup-body">We use cookies for tracking our visitors with Google Tag Manager.</div>
    <div class="eupopup-buttons">
      <a href="#" class="eupopup-button eupopup-button_1">Continue</a>
      <a href="/cookie-policy" target="_blank" class="eupopup-button eupopup-button_2">Learn more</a>
    </div>
    <div class="clearfix"></div>
    <a href="#" class="eupopup-closebutton">x</a>
  </div>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.googleAnalitycsId}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    function initialiseGoogleAnalytics() {
        gtag('js', new Date());
        gtag('config', '{{site.googleAnalitycsId}}');
    }

    // Subscribe for the cookie consent events
    $(document).bind("user_cookie_already_accepted", function(event, object) {
        initialiseGoogleAnalytics();
    });

    $(document).bind("user_cookie_consent_changed", function(event, object) {
        const userConsentGiven = $(object).attr('consent');
        if (userConsentGiven) {
            // User clicked on enabling cookies. Now it’s safe to call the
            // init functions.
            initialiseGoogleAnalytics();
        }
    });
</script>