<div class="eupopup eupopup-container eupopup-container-block">
  <div class="eupopup-markup">
    <div class="eupopup-head">Política de cookies</div>
    <div class="eupopup-body">Utilizamos cookies propias y de terceros, analíticas y publicitarias para elaboración de perfiles basados en la navegación del usuario.</div>
    <div class="eupopup-buttons">
      <a href="#" class="eupopup-button eupopup-button_1">Acepto</a>
      <a href="#" class="eupopup-button eupopup-closebutton">Rechazo</a>
      <br />
      <a href="/politica-cookies/" target="_blank" class="c-cookies__link eupopup-button eupopup-button_2">Más información</a>
    </div>
  </div>
</div>


<script async src="https://www.googletagmanager.com/gtag/js?id={{site.googleAnalitycsId}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    function initialiseGoogleAnalytics() {
        gtag('js', new Date());
        gtag('config', '{{site.googleAnalitycsId}}');
    }

    // Subscribe for the cookie consent events
    $(document).bind("user_cookie_already_accepted", function(event, object) {
        initialiseGoogleAnalytics();
    });

    $(document).bind("user_cookie_consent_changed", function(event, object) {
        const userConsentGiven = $(object).attr('consent');
        if (userConsentGiven) {
            // User clicked on enabling cookies. Now it’s safe to call the
            // init functions.
            initialiseGoogleAnalytics();
        }
    });
</script>
