<footer class="c-footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <form class="c-form">
                    <div class="c-form__elements">
                        <div class="form-group">
                          <label for="Email" class="d-none"></label>
                          <input type="email" class="form-control" id="Email" placeholder="Déjanos tu email para suscribirte a nuestra newsletter">
                        </div>
                        <div class="form-group form-check c-form-check">
                          <input type="checkbox" class="c-form-check__input form-check-input" id="Check">
                          <label class="form-check-label c-form-check__label" for="Check">He leído y acepto la <a href="" class="c-form-check__label__link">política de protección de datos</a>.</label>
                        </div>
                    </div>
                    <button type="submit" class="c-button c-button--outline"><span>Quiero</span> suscribirme</button>
                </form>
                <p class="c-form__legal">BIKO2 2006, S.L. como responsable del tratamiento de sus datos gestionará con su consentimiento, los procedimientos administrativos con el objetivo de responder a tu solicitud de información. Sus datos no se cederán a terceros salvo obligación legal o que la cesión sea necesaria para el cumplimiento de la finalidad. Usted puede ejercer los derechos de acceso, rectificación o supresión de sus datos. Puede consultar la información adicional y detallada sobre <strong>Protección de Datos</strong> <a href="#">desde este enlace</a>.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="c-cita">
            <div class="c-cita__box">
                <p class="c-cita__box__texto">"Los proyectos no se empiezan, se terminan"</p>
                <span class="c-cita__box__small">Persona <i>random</i> en la cocina de biko</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="c-footer__bottom">
            <ul class="c-footer__bottom-list">
                <li class="c-footer__bottom-list__item"><a href="https://www.biko2.com/aviso-legal">Aviso legal</a></li>
                <li class="c-footer__bottom-list__item"><a href="https://www.biko2.com/politica-de-cookies">Cookies</a></li>
                <li class="c-footer__bottom-list__item"><a href="https://www.biko2.com/proteccion-de-datos">Protección de datos</a></li>
            </ul>
        </div>
    </div>
</footer>
