.c-icon-square {
  width: 120px;
  height: 120px;
  background: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    width: 70px;
    height: 70px;

    svg {
      width: 55%;
    }
  }
}
