.c-separator--line {
  margin: 46px 0;
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin: 60px 0;
  }

  @include media-breakpoint-up(xl) {
    margin: 96px 0;
  }

  hr {
    width: 1px;
    height: 60px;
    border: 0;
    border-left: 1px solid black;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;

    @include media-breakpoint-up(lg) {
      height: 100px;
    }

    @include media-breakpoint-up(xl) {
      height: 140px;
    }
  }
}


.c-separator--icon {
  text-align: center;
  padding: 80px 0 40px;

  @include media-breakpoint-up(lg) {
    padding: 120px 0 60px;
  }

  .c-separator--icon__animated {
    animation-duration: 1s;
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
  }

  @keyframes scrolldown {
    from {
      top: 0;
    }

    to {
      top: 15px;
    }
  }
}

.c-separator--scroll {
  margin-right: 10px;
  text-align: right;
  padding: 20px 0 10px;
  @include typi(tiny);

  @include media-breakpoint-up(sm) {
    padding: 40px 0 40px;
    @include typi(small);
  }

  @include media-breakpoint-up(lg) {
    padding: 120px 0 60px;
  }

  .c-separator--scroll__animated {
    animation-duration: 1s;
    animation-name: horizontalscroll;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
  }

  @keyframes horizontalscroll {
    from {
      right: -5px;
    }

    to {
      right: -15px;
    }
  }
}
