.c-button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: $red;
  padding: 10px 20px;
  background: white;
  border: 3px solid $red;
  border-radius: 0;
  transition: all .3s ease;
  letter-spacing: 1px;

  @include media-breakpoint-up(sm) {
    padding: 20px;
  }

  &:hover {
    background: $red;
    color: white;
    text-decoration: none;
    border-radius: 3px;
  }
}

.c-button--outline {
  color: $black;
  background: transparent;
  border: 3px solid $black;

  &:hover {
    background: $black;
    color: white;
    text-decoration: none;
  }
}
