.c-link {
  color: $red;
  text-decoration: none;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $red-light;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  &:hover {
    text-decoration: none !important;
    color: $red;

    &:before {
      transform: scaleX(1);
    }
  }
}
