.c-title--sub {
  font-family: 'courier_primeregular';
  color: $red;
  @include typi(large);
  letter-spacing: -1px;
  margin-bottom: 32px;

  @include media-breakpoint-up(sm) {
    @include typi(big);
  }

  @include media-breakpoint-up(md) {
    margin-top: 15px;
  }

  @include media-breakpoint-up(xl) {
    @include typi(huge);
  }
}

.c-title--pre {
  @include typi(large);
  margin-bottom: 24px;
}


.c-title-section {
  float: right;
  transform: rotate(90deg);
  transform-origin: right 0;
  @include typi(small);
  color: $gray-dark;
  margin-right: 12px;

  @include media-breakpoint-down(xs) {
    display: none;
  }

  &:after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background: $red;
    position: absolute;
    right: -36px;
    top: 10px;
  }
}

.c-title--line {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 12px;
    height: 3px;
    background: $red;
    position: absolute;
    top: 21px;
    left: -18px;

    @include media-breakpoint-up(sm) {
      width: 24px;
      top: 23px;
      left: -35px;
    }

    @include media-breakpoint-up(md) {
      top: 24px;
    }

  }
}
