.c-cita {
  background: url("../../images/bg-pattern-footer.png") repeat left top;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  margin: 20px 0;

  @include media-breakpoint-up(sm) {
    padding: 100px 0;
    margin: 40px 0;
  }

  @include media-breakpoint-up(md) {
    padding: 200px 0;
  }
}

.c-cita__box {
  background-color: white;
  padding: 20px;
  
  @include media-breakpoint-up(sm) {
    padding: 40px;
    text-align: center;
  }
}

.c-cita__box__texto{
  @include typi(huge);
  font-style: italic;
}

.c-cita__box__small{
  @include typi(small);
  color: $gray;
  position: relative; 

  &:before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 3px;
    background-color: $red;
    position: absolute;
    top: -10px;
  }
}
