.c-header {
  padding-top: 26px;

  @include media-breakpoint-up(lg) {
    padding-top: 32px;
  }
}

.c-header__nav {
  padding: 0;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}


.c-header__nav .navbar-toggler{
  border: none;

  &:focus{
    outline: none;
  }
}

.c-header__nav .navbar-toggler-icon{
  background-image: url("/assets/images/menu.svg");
}

.c-header__nav .navbar-toggler-icon--close{
  background-image: url("/assets/images/close.svg");
}

.c-header__nav__logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  svg {
    width: 120px;
    height: auto;

    @include media-breakpoint-only(sm) {
      width: 160px;
      height: auto;
    }
    @include media-breakpoint-only(md) {
      width: 180px;
      height: auto;
    }
    @include media-breakpoint-up(lg) {
      width: 200px;
      height: auto;
    }
  }
}

.c-header__nav__cities {
  display: block;
  margin-top: 8px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  color: $gray;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 12px;
  }
}

.c-header__navbar {
  li {
    position: relative;
    margin: 0 0 0 48px;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: -30px;
      top: 12px;
      border-top:3px solid $red;
      width: 24px;
      height: 4px;
      transition: all .5s ease;


      @include media-breakpoint-up(lg) {
        left: 0;
        top: -12px;
      }
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    a.nav-link {
      font-family: "Montserrat";
      font-weight: 700;
      @include typi(tiny);
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      color: $black !important;
      padding: 0 !important;
      transition: all .5s ease;

      &:hover {
        color: $red !important;
      }
    }
  }
}


.c-header-fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
  visibility: hidden;
  opacity: 0;
  background: #141414;
  width: 100%;
  height: 100%;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}
.c-header-fullscreen-menu--open {
  visibility: visible;
  opacity: 1;
}

.c-header-fullscreen-menu-wrapper {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  height: 100%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;


  .c-header__nav{
    padding-top: 33px;

  }
  .c-header__navbar{
    li a{
      color: #999 !important;
      @include typi(small);

    }
  }
}
