/* Colores Marca */
$red: #E73F39;
$red-light: #fad9d7;
$black: #222;
$gray-light: #dddddd;
$gray: #999;
$gray-dark: #666;


// breakpoints de bootstrap
$grid-breakpoints: (
   xs: 0,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px
);

$container-max-widths: (
   sm: 540px,
   md: 720px,
   lg: 960px,
   xl: 1140px,
   xxl: 1340px
);


/*
===========================================
== fuentes ================================
===========================================
*/
$modularscale: (
  base: 16px,
  ratio: 1.125
);

/*
$font-family-base: 'Proxima nova', Arial, sans-serif;
$font-size-base: rem(ms(0));
$font-weight-base: normal;
*/

// breakpoints para typi
$breakpoints: (
  xs: map-get($grid-breakpoints, xs),
  sm: map-get($grid-breakpoints, sm),
  md: map-get($grid-breakpoints, md),
  lg: map-get($grid-breakpoints, lg),
  xl: map-get($grid-breakpoints, xl),
  xxl: map-get($grid-breakpoints, xxl)
);

$line-height-large: 1.5;
$line-height-medium: 1.3;
$line-height-small: 1.1;


$typi: (
  tiny: (
    null: (ms(-2), $line-height-large), // 12px
    xs:   (ms(-4), $line-height-medium),
    md:   (ms(-2), $line-height-medium)
  ),
  small: (
    null: (ms(-1), $line-height-large) // 14px
  ),
  base: (
    null: (ms(0), $line-height-large), // 16px
    xs:   (ms(-1), $line-height-large),
    sm:   (ms(0), $line-height-large),
  ),
  large: (
    null: (ms(2), $line-height-large), //20px
    xs:   (ms(1), $line-height-medium),
  ),
  big: (
    null: (ms(3), $line-height-large),
    md:   (ms(4), $line-height-small),
    lg:   (ms(5), $line-height-small),
    xl:   (ms(5), $line-height-small), // 28px
    xxl:  (ms(7), $line-height-small),
  ),
  huge: (
    null: (ms(8), $line-height-small), //41px
    xs:   (ms(2), $line-height-small),
    sm:   (ms(5), $line-height-small),
    md:   (ms(6), $line-height-small),
    lg:   (ms(7), $line-height-small),
    xl:   (ms(7), $line-height-small),
    xxl:  (ms(8), $line-height-small)
  ),
  extrahuge: (
    null: (ms(15), $line-height-small), // 94px
    xs:   (ms(5), $line-height-small),
    sm:   (ms(10), $line-height-small),
    md:   (ms(11), $line-height-medium),
    lg:   (ms(12), $line-height-small),
    xl:   (ms(14), $line-height-small),
    xxl:  (ms(15), $line-height-small)
  )
);

/*
===========================================
==  márgenes  =============================
===========================================
*/

$spacing: (
   -3: 5px,
   -2: 10px,
   -1: 15px,
   base: 20px,
   1: 30px,
   2: 40px,
   3: 70px,
   4: 90px
);
