h1 {
  font-family: "Arial Black", sans-serif;
  font-weight: 300;
  @include typi(xxl);
}

h2 {
  font-family: "Arial Black", sans-serif;
  font-weight: 300;
  @include typi(xl);

  strong {font-weight: 900;}
}

h3 {
  font-family: "Arial Black", sans-serif;
  font-weight: 300;
  @include typi(l);
}
